name: Lint and Tests
on:
  pull_request:
    branches: [main]

jobs:
  lint:
    uses: draftm0de/flutter/.github/workflows/lint.yml@main
    with:
      flutter-channel: stable  # omit or change as needed